<!DOCTYPE html>
<html lang='en'
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>Create/Edit Product</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <form method="post" th:action="@{/products/save}">
        <div class="form-group">
            <label class="form-label mt-4">상품 정보 입력</label>
                <div class="form-floating mb-3">
                    <input type="number" name="code" class="form-control" id="floatingInput" placeholder="상품번호" th:value="${product.code}">
                    <label for="floatingInput">상품 번호</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" name="name" class="form-control" id="floatingName" placeholder="상품 이름" th:value="${product.name}">
                    <label for="floatingName">상품 이름</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" name="endDate" class="form-control" id="floatingDate" placeholder="유통 기한" th:value="${product.endDate}">
                    <label for="floatingDate">유통 기한</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="number" name="CurrentCounts" class="form-control" id="floatingCurrent" placeholder="현재 상품 개수" th:value="${product.currentCounts}">
                    <label for="floatingCurrent">현재 상품 개수</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="number" name="counts" class="form-control" id="floatingCounts" placeholder="전산 상품 개수" th:value="${product.counts}">
                    <label for="floatingCounts">전산 상품 개수</label>
                </div>
            </div>
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>
</body>
</html>
